body {
    margin: 0%;
}

.tela {
    height: 100vh;
    display: flex;
    position: relative;
    flex-direction: column;
}

.fundo-topo {
    height: 13.2%;
    background: #029487;
}

.fundo-base {
    height: 86.8%;;
    background: #cecdc7;
}

.centro {
    position: absolute;
    width: 97.5dvw;
    height: 95dvh;
    background: #e6e4e9;

    border-radius: 0.3%;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: row;
}

.menu-esquerdo {
    width: 32%;

    display: flex;
    flex-direction: column;

    min-width: 280px;
    background: #fefefe;
}

.usuario-info {
    height: 6.5%;
    background: #efefef;

    display: flex;
    align-items: center;
}

.usuario-imagem {
    height: 100%;
    aspect-ratio: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.usuario-imagem a {
    width: 79%;
    height: 79%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.usuario-imagem img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.usuario-icones {
    flex:1;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.usuario-icone-menssagem {
    aspect-ratio: 1 / 1;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.usuario-icone-opcoes {
    aspect-ratio: 1 / 1;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.notificacao {
    height: 8.55%;
    background: #9ee1fe;

    display: flex;
    flex-direction: row;
}

.notificacao-icone {
    aspect-ratio: 1 / 1;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.notificacao-conteudo {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.notificacao-titulo {
    font-size: 2dvb;
}

.notificacao-conteudo a {
    color: rgb(78, 78, 78);
    font-size: 1.8vb;
}

.conversas {
    flex: 1;

    overflow-y: auto;
}

.busca {
    display: flex;
    flex-direction: row;
}

.lupa {
    width: 8dvw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.busca input {
    flex: 1;
    border: none;
    height: 5dvh;
    background: none;
}

.conversa {
    height: 7.6dvh;
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: row;
}

.conversa-img {
    height: 100%;
    aspect-ratio: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.conversa-img img {
    width: 70%;
    height: 70%;
    border-radius: 50%;
}

.conversa-conteudo {
    display: flex;
    flex-direction: column;

    flex: 1;
}

.conversa-conteudo-nome {
    font-size: 2.2vb;
}

.conversa-conteudo-texto::before {
    content: "✓";
    margin-right: 5px;
}
.conversa-conteudo-texto {
    font-size: 1.6vb;
    color: rgb(129, 129, 129);
}

.conversa-hora {
    width: 20%;
    font-size: 1.4vb;
    overflow-wrap: break-word;
    color: rgb(129, 129, 129);
}

.menu-direito {
    width: 68%;

    display: flex;
    flex-direction: column;
}

.conversa-aberta-contato {
    height: 6.5%;

    display: flex;
    flex-direction: row;
    background: #efefef;
}

.conversa-aberta-img {
    height: 100%;
    aspect-ratio: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.conversa-aberta-img img {
    width: 70%;
    height: 70%;
    border-radius: 50%;
}

.conversa-aberta-nome {
    flex: 1;

    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 2%;
}


.conversa-aberta-icone {
    display: flex;
    align-items: center;
    justify-content: center;
}

.conversa-aberta-conteudo {
    flex: 1;
    background: linear-gradient(
        to bottom,
        #e6e0d4,
        #d4d0cd
    );

    display: flex;
    flex-direction: column;
    justify-content: end;
    gap:1%;
}

.data-container {
    display: flex;
    justify-content: center;
}
.data-conteudo {
    width: 25%;
    background: #e6f3fb;

    font-size: 1.5vb;
    display: flex;
    justify-content: center;
    border-radius: 8px;
}
.mensagem-enviada-container {
    display: flex;
    padding-left: 2%;
    justify-content: end;
    width: 95%;
}

.mensagem-recebida-container {
    display: flex;
    padding: 1dvw 3dvw;
    width: 95%;
}

.mensagem-conteudo {
    max-width: 70%;

    padding: 1dvw 2dvw;

    background: #ddf7c7;
    color: #111;

    border-radius: 20px;

    overflow-wrap: break-word;
}

.mensagem-input {
    height: 5%;
    display: flex;
    flex-direction: row;
}

.botao-emoji {
    width: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao-emoji i {
    width: 100%;
}

.entrada-mensagem {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.entrada-mensagem input {
    width: 100%;
    height: 80%;
    border: none;
}

.botao-audio {
    width: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
